@import "tailwindcss";

:root {
    color-scheme: light;

}

html {
    scrollbar-gutter: stable;
}

/* Override SweetAlert2 Z-Index to appear above PrimeReact Dialogs */
.swal2-container {
    z-index: 99999 !important;
}